name: Auto Merge

on: workflow_dispatch

jobs:
  merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6
      - uses: gh pr review "${GITHUB_HEAD_REF}" --approve
      - run: gh pr merge "${GITHUB_HEAD_REF}" --merge --auto